@font-face {
    font-family: 'Deutsch Gothic';
    src: url('fonts/Deutsch-Gothic.woff2') format('woff2'), url('fonts/Deutsch-Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myflora Personal Use';
    src: url('fonts/MyfloraPersonalUse.woff2') format('woff2'), url('fonts/MyfloraPersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}