$base-dark-grey: #343434,
;
$base-grey: #393E46;
$base-grey-200: #929AAB;
$base-gold: #EEEEEE;
$base-light-grey: #F7F7F7;
$header-text: #343434;
$text: #090909;
$svgs: #393E46;
$base-dark-grey-2: #5b1e25;
$base-grey-2: #7a2f33;
$base-grey-200-2: #c78b8f;
$base-gold-2: #E6CFA9;
$base-light-grey-2: #e8c5c8;
$base-black: #090909;
$base-white: #fdfdfd;
// Mixins
@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}