$base-dark-maroon: #5b1e25;
$base-maroon: #7a2f33;
$base-maroon-200: #c78b8f;
$base-gold: #E6CFA9;
$base-light-maroon: #e8c5c8;
$base-dark-maroon-2: #5b1e25;
$base-maroon-2: #7a2f33;
$base-maroon-200-2: #c78b8f;
$base-gold-2: #E6CFA9;
$base-light-maroon-2: #e8c5c8;
$base-black: #090909;
$base-white: #fdfdfd;
// Mixins
@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}